@import "./variable.scss";

.supermarket-icon {
    margin-left: 40px;
    margin-top: -2px;

}
.title {
    //font-size: 3px;
    //font-weight: 1px;
   color:$white;
   //padding-left:-25px

}
.avatar {
   // margin-left: 110px;
    margin-top: 1px;
}
#top-search-bar {
    //margin-top: 22px;
   // margin-left: 40px;
   
    width: 600px;
}
.main-bar {
    color: $brown;
}

.book-icon {  
    margin-top: 1px;
    max-height:60px;
    max-width:60px;
}

.white {
    font-variant: normal;
}
/* #bottom-name{
    color:$white}

#bottom-name-cart{
    color:$white
} */