.orderConfirmImage{
    height: 120px;
    width: 120px;
    padding-top: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

  .confirmation-image .v-responsive {
    flex:none;
  } 

   table {
    border-collapse: collapse;
    border-spacing: 3px;
  }

  table tr td{
    border: 1px solid grey;
    width: 210px;
    height: 60px;
    text-align: center;
  }

  table{
    border: 1px solid grey;
    border-spacing: 5px;
  }

  table tr th {
    font-weight: 400px;
    height: 30px;
    background-color: grey;
  }

  .continue-shopping {
    color: white !important;
    background-color: skyblue !important;
  } 

@media only screen and (min-width: 0px ) and (max-width: 360px ) {
    .full-layout1{
      width:39%
    }

    .orderConfirmImage{
      height: 60px;
      width: 60px;
      padding-top: -10px;
      margin-top: -10px;
   }

    .desc-confirmation-msg{
        font-size: 12px;
        padding-left: 10px;
    }

    .content{
      margin-left: 100px;
    }

    table {
      margin-left:-10px;
      border-collapse: collapse;
      border-spacing: 2px;
    }

    table tr td{
      border: 1px solid grey;
      width: 180px;
      height: 40px;
      text-align: center;
    }

    table tr th {
      font-weight: 200px;
      height: 20px;
      background-color: grey;
    }

    .continue-shopping {
      color: white !important;
      background-color: skyblue !important;
      margin-left: 5px;
      margin-top: -25px;
    } 
    .confirmation-msg{
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 361px ) and  (max-width: 768px ) {
    .content{
      margin-left: 20px;
    }
  }
