body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-card {
    top: 100px;
    right: 260px;
    width: 389px;
    height: 290px;
  }
  .display-card {
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }